matplotlib==3.7.1; python_version >= "3.7" #for our basic plotting and visualizations
seaborn==0.12.2; python_version >= "3.7" #advanced statistical visualizations if needed
plotly==5.15.0; python_version >= "3.7" #interactive visualizations 
